@import "tailwindcss";




html, body {
  scrollbar-width: none; 
  -ms-overflow-style: none;  
  
  
}



  .bg-dark {
    background-color:#242323;
  }

  .light {
    background-color: #ecebeb;
  }